* {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica neue",Helvetica,Tahoma,"lantinghei sc","Microsoft Yahei",sans-serif;
  word-wrap: break-word;
  table-layout: fixed;
  word-break: break-all;
  font-size: 12px;
}
body {
  overflow: hidden;
  background: #fff;
}
body.night {
  background: #000000;
}
.blognav {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 350px;
  height: 400px;
  margin: -240px auto auto -175px;
  /* border: 1px solid #eee; */
  background: rgba(255, 255, 255, 0.5);
  z-index: 999;
}
.blognav.night {
  background: transparent;
}
.arriveup,
.arriveup-long {
  -webkit-transform: translate3d(0, 500px, 0);
  transform: translate3d(0, 500px, 0);
  -webkit-animation: arrive 0.3s ease-in-out 0.9s forwards;
  animation: arrive 0.3s ease-in-out 0.9s forwards;
  opacity: 0;
}
.arriveup-long {
  -webkit-animation: arrive 0.9s ease-in-out 1.5s forwards;
  animation: arrive 0.9s ease-in-out 1.5s forwards;
}
@-webkit-keyframes arrive {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 500px, 0);
    transform: translate3d(0, 500px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes arrive {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 500px, 0);
    transform: translate3d(0, 500px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.logo {
  display: block;
  width: 300px;
  height: 120px;
  margin: 0px auto;
  background: url('../images/heselogo.png');
}
.blognav h2 {
  font-size: 16px;
  color: #666;
  text-align: center;
  margin: 20px auto;
  font-weight: 400;
}
.blognav h2.night {
  color: #bbbbbb;
}
.menu {
  width: 82px;
  height: auto;
  margin: 50px auto;
}
.menu a {
  display: block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #ccc;
  text-align: center;
  border: 1px solid #eee;
  text-decoration: none;
  margin-bottom: 10px;
}
.menu.night a {
  color: #666;
  border-color: #666;
}
.menu a.active {
  /* border: 1px solid #666; */
  background-color: #ff5e7d;
  border: 1px solid #ff5e7d;
  color: #fff;
}
.menu a.active:hover {
  webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  -webkit-tap-highlight-color: transparent;
  color: #fff;
  background-color: #ff5e7d;
  border: 1px solid #ff5e7d;
}
.footer {
  position: fixed;
  bottom: 30px;
  left: 100px;
  right: 100px;
  z-index: 999;
  text-align: center;
  font-size: 10px;
  color: #ccc;
  line-height: 20px;
}
.footer p {
  padding: 0px 0px;
  margin: 0px 0px;
}
.footer a {
  color: #cccccc;
  text-decoration: none;
}
@media (max-width: 750px) {
  .footer {
    left: 50px;
    right: 50px;
  }
  .footer p:first-child {
    display: none;
  }
}
.footer.night,
.footer.night a {
  color: #666666;
}
.contactme {
  position: fixed;
  bottom: 100px;
  width: 100%;
  margin: 0px auto;
  z-index: 999;
  text-align: center;
}
.contactme li {
  position: relative;
  display: inline-block;
  list-style: none;
  width: 15px;
  height: 15px;
  margin: 0px 10px;
}
.contactme li a {
  display: block;
  width: 15px;
  height: 15px;
  text-decoration: none;
}
.contactme li .tip {
  position: absolute;
  top: -50px;
  left: -45px;
  width: 80px;
  padding: 0px 10px;
  height: 40px;
  line-height: 40px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  color: #fff;
}
.contactme li .tip-inner {
  font-style: normal;
  font-size: 12px;
}
.contactme li .tip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  bottom: -5px;
  left: 50%;
  margin-left: -4px;
  border-width: 5px 5px 0;
  border-top-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.contactme li .night {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
}
.contactme li .night .tip-arrow {
  border-top-color: rgba(255, 255, 255, 0.7);
}
.contactme a img {
  width: 100%;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}


